<% if @error_info.present? %>
  <h2>Información del error</h2>

  <!-- Mensaje del error -->
  <p>
    <strong>Mensaje:</strong> <%= @error_info[:error_message] %>
  </p>

  <!-- Línea del error -->
  <p>
    <strong>Línea del backtrace:</strong> <%= @error_info[:error_line] %>
  </p>

  <!-- Datos que causaron el error -->
  <p>
    <strong>Datos que causaron el error:</strong>
    <pre><%= @error_info[:error_data].inspect %></pre>
  </p>

  <!-- Si se tienen errores de blobs duplicados -->
  <% if @error_info[:duplicated_blob_keys] %>
    <p>
      <strong>Error en Blobs:</strong> 
      <ul>
        <% @error_info[:duplicated_blob_keys].each do |blob| %>
          <li> <%= blob%> </li>
        <% end %>
      </ul>
    </p>
  <% end %>

  <!-- Puedes seguir extendiendo para otros tipos de errores que tengas -->
  <% # ... %>

<% else %>
  <p>No hay detalles disponibles para el error.</p>
<% end %>
