<section id="main-section-uno" class="hero is-large banners">
  <div class="hero-body banners__body bg-cover bg-center bg-fixed" style="background-image: url('https://lagramoladisco.com/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBbWdFIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--ade0cce2cf8143ed3ddb08b30a95316112f4ec70/editorial-pazo-touza-msanz-315.jpg')">
    <div class="container">
      <div class="grid grid-cols-1 md:grid-cols-2">
        <div class="col-span-1 md:col-span-2 lg:col-span-6 xl:col-span-8">
          <h1 class="text-2xl md:text-5xl lg:text-6xl text-white mb-4">Cualquier ocasión es perfecta para disfrutar de la música</h1>
          <hr class="content-divider">
          <h4 class="text-xl md:text-2xl lg:text-4xl text-white mb-4">
            <div class="trix-content"></div>
          </h4>
        </div>
      </div>
    </div>
  </div>
</section>
