<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Contacts</h1>

  </div>

  <div id="contacts" class="min-w-full">
    <%= render @contacts %>
  </div>
</div>
