<div id="next_link">
  <%= button_to "next", pagy_url_for(@pagy, @pagy.next), class: 'border border-blue-600 rounded-lg hover:bg-blue-600 text-blue-600 hover:text-white px-4 py-2' %>
</div>
<section id="albums" class="container grid grid-cols-4 mx-auto gap-8">
  <%= render AlbumComponent.with_collection(@albums)%>
</section>
