
<% if @album.password.eql?(session[:album_password]) %>
  <div class="w-full text-center text-4xl">
    SESSION: <%= session[:album_password] %>
    Password: <%= @album.password %>
  </div>
  <%= render 'albums/images/album', collection: @album.images %>
<% else %>
    <%= render 'albums/images/verify_password' %>
<% end %>
