<div class="container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 mx-auto">
  <%= render partial: "albums/images/image", collection: @images %>
  <%= render partial: "albums/images/next_page" %>
</div>