<h1>Se ha publicado el album <%= @album_name %></h1>

<p>Podeis acceder a el pulsando en el siguiente enlace: <%= @magic_link %></p>
<p>Compartir este enlace <%= @magic_link %> con vuestros amigos e invitados para que ello puedan acceder también. </p>
